body {

}

ul {
    list-style-type: none;
}

li {
    line-height: 50px;
    height: 50px;
    vertical-align: middle;
    background-color: gray;

}

.container {
    display: flex;
    color: red;
    width: 1200px;
    height: 600px;
}

.hotSpots {
    color: red;
    width: 33%;
    border: red 1px solid;
    background-color: gray;
}

.googleMap {
    width: 66%;
    height: 100%;
}


